*.suo
Crowdin.CSharp/Crowdin.CSharp/bin/
Crowdin.CSharp/Crowdin.CSharp/obj/
/Crowdin.CSharp/Crowdin.CSharp/*.DotSettings
Crowdin.CSharp/Crowdin.CSharp.Tests/obj/
Crowdin.CSharp/Crowdin.CSharp.Tests/bin/
Crowdin.CSharp/packages/
*.coverage
/Crowdin.CSharp/*.user
